$bg-color: #000066;
$font-color: #fff;

@font-face{
 font-family: nuLiveFont;
 src: url('../fonts/beyond_the_mountains.ttf');
}

html {
  width: 100vw;
  // height: 100vh;
}

body {
  background-color: $bg-color;
  color: $font-color;
  text-align: center;
  font-family: nuLiveFont;
}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

h1 {
  font-size: 77px;
  position: absolute;
  top: 262px;
  left: 0;
  width: 100%;
}

h1:active{
 -webkit-animation: zoomOutLeft 3s;
 animation: zoomOutLeft 3s;
}
