<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NuLive</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <%# <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/js/bundle.js"></script>%>
  <script src="main.js"></script>

</head>

<body ng-app='myApp' ng-controller='mainCtrl'>
  <div class="container">
    <div class="image">
      <img class='animated infinite tada' src="http://downloadicons.net/sites/default/files/smiling-lips-icons-22717.png"/>
      <h1><%= title %></h1>
    </div>
    <video width="352" height="0" controls autoplay>
    <source src="http://c4.prod.playlists.ihrhls.com/305/playlist.m3u8" type="application/x-mpegURL">
</video>
  </div>
</body>

</html>
